<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisesoft.mapper.system.BaseMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<select id="initTableField" resultType="java.util.HashMap">
		<!-- mysql采用以下初始化 -->
		<!-- select TABLE_NAME,group_concat(COLUMN_NAME) COLUMN_NAME 
		from information_schema.columns 
		where table_name in (${table_name}) and table_schema in (${database_name})  GROUP BY TABLE_NAME; -->
		
		<!-- oracle采用以下初始化 -->
		SELECT TABLE_NAME AS TABLE_NAME,WM_CONCAT(COL.COLUMN_NAME) AS COLUMN_NAME FROM USER_TAB_COLS COL GROUP BY TABLE_NAME
	</select>
	<select id="findByWhere" resultType="java.util.HashMap">
		SELECT * FROM TABLE
	</select>

	<select id="findByPage" resultType="java.util.HashMap">
		SELECT * FROM TABLE
	</select>

	<insert id="addEntity" useGeneratedKeys="false" keyProperty="id">
		INSERT INTO (FLEIDS) VALUES (VALUES)
	</insert>
	
	<insert id="batchSave">
		INSERT INTO (FLEIDS) VALUES (VALUES),(VALUES),(VALUES)
	</insert>

	<update id="editEntity">
		UPDATE TABLE SET (${fleids}) WHERE ID = (${id})
	</update>
	
	<delete id="deleteEntity">
		DELETE FROM TABLE WHERE ID IN (${id})
	</delete>
	
	<delete id="deleteByNames">
		DELETE FROM TABLE WHERE ID IN (${ids})
	</delete>
	
	<select id="findbyFrist" resultType="java.util.HashMap">
		SELECT * FROM TABLE WHERE ID=()
	</select> 
	
	<select id="findByAttribute" resultType="java.util.HashMap">
		SELECT * FROM TABLE
		WHERE ID IN ()
	</select>

	<select id="findByNames" resultType="java.util.HashMap">
		SELECT * FROM TABLE WHERE ID
		IN ()
	</select>
	
</mapper>